Source: tree
Section: utils
Priority: optional
Maintainer: Scott K. Ellis <scott@debian.org>
Build-Depends: debhelper
Standards-Version: 3.5.6

Package: tree
Architecture: any
Depends: ${shlibs:Depends}
Description: displays directory tree, in color
 Displays an indented directory tree, using the same color assignments as
 ls, via the LS_COLORS environment variable.
